<div class="top">
  <div><a href="#" target="_self"><%= image_tag "top.png" %></a></div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-5">
        <h5>QUZHOU SENIO MACHINERY(GROUP) CO.,LIMITED</h5>
        <ul>
          <li>NO.3,4 th Road Donggang Economic Developing Zone,Quzhou,Zhejiang,China</li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h5>HEADQUARTERS</h5>
        <ul>
          <li>TEL:+86-571-87796819</li>
          <li>FAX:+86-571-87790507 </li>
          <li>pack@seniomachinery.com</li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h5>HANGZHOU OFFICE</h5>
        <ul>
          <li>TEL:+86-571-87790509 </li>
          <li>FAX:+86-571-87790507</li>
          <li>office@seniomachinery.com</li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h5>AFTER-SALE SERVICE</h5>
        <ul>
          <li>TEL:+86-571-87790513</li>
          <li>FAX:+86-571-87790507</li>
          <li>seniomachinery@gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
